.multi-image-page {
    .imgs {
        .img-thumb {
            margin-top: 20px;
            margin-right: 20px;
            float: left;
            width: 200px;
            cursor: pointer;
        }
    }
}