.multi-image-page {
    .imgs {
        width:100%;
        display: table;
      
        ul {
          display: table-row;
        }
  
        ul li{
          display: table-cell;
          text-align: center;
          padding-top: 10px;
          padding-right: 10px;
        }

        .img-thumb {
            cursor: pointer;
        }
    }
}