---
layout: default
---
<h1>{{ page.title }}</h1>

{{ content }}

<div class="gallery">
    <div class="row">
        {% assign collection = site.data[page.collection_name] %}
        {% assign col_size = collection.size | divided_by: 4 | at_least: 1 %}

        <div class="column">
            {% for img in collection limit: col_size %}
                <a href="/img/{{img.basename}}/"><img class="hoverable" src="/assets/images/{{img.basename}}_thumb.jpg"></a>
            {% endfor %}
        </div>

        <div class="column">
            {% for img in collection offset: col_size limit: col_size %}
                <a href="/img/{{img.basename}}/"><img class="hoverable" src="/assets/images/{{img.basename}}_thumb.jpg"></a>
            {% endfor %}
        </div>

        <div class="column">
            {% assign offset = col_size | times: 2 %}
            {% for img in collection offset: offset limit: col_size %}
                <a href="/img/{{img.basename}}/"><img class="hoverable" src="/assets/images/{{img.basename}}_thumb.jpg"></a>
            {% endfor %}
        </div>

        <div class="column">
            {% assign offset = col_size | times: 3 %}
            {% for img in collection offset: offset %}
                <a href="/img/{{img.basename}}/"><img class="hoverable" src="/assets/images/{{img.basename}}_thumb.jpg"></a>
            {% endfor %}
        </div>
    </div>
</div>
